<div class="card">
  <div class="card-header">Crear/ Editar Campos dependientes</div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-12 col-lg-12 col-sm-12">
        <label>Pais</label>
        <select id="inputState" class="form-control" [(ngModel)]="seleccion.paisId" title="Seleccione el pais" (change)="filtrarDepartamento()"
          placeholder="Seleccione la división politica*" name="paisId" required>
          <option *ngFor="let item of paises" value="{{ item.id }}">
            {{ item.nombre }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-12 col-lg-12 col-sm-12">
        <label>Departamento</label>
        <select id="inputState" class="form-control" [(ngModel)]="seleccion.divisionPoliticaNivel1Id" (change)="filtrarMunicipios()"
          title="Seleccione el departamento" placeholder="Seleccione la división politica*"
          name="divisionPoliticaNivel1Id" required>
          <option *ngFor="let item of filtroDepartamento" value="{{ item.id }}">
            {{ item.nombre }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-12 col-lg-12 col-sm-12">
        <label>Municipio</label>
        <select id="inputState" class="form-control" [(ngModel)]="seleccion.municipioId"
          title="Seleccione el municipio" placeholder="Seleccione la división politica*" name="municipioId" required>
          <option *ngFor="let item of filtroMunicipio" value="{{ item.id }}">
            {{ item.nombre }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-default">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="guardar()"><i class="fa fa-save"></i>Guardar</button>
  </div>
</div>
